@import url(./reset.css);
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Oswald", sans-serif;
}

.container {
	height: 100%;
	width: 1140px;
	margin: 0 auto;
	position: relative;
}

.clear:after, .container:after, .nav:after, .nav__fixed:after, .button__menu--title:after {
	content: "";
	display: block;
	clear: both;
}

.header {
	position: relative;
	overflow: hidden;
	height: 937px;
	z-index: 1;
}

.logo__panel {
	position: absolute;
	left: 0;
	top: 0;
	width: 370px;
	height: 382px;
	padding: 4.8vmin 2em;
	background-color: #2b2b2b;
	text-align: center;
}

.logo__name {
	font-family: "montserrat", sans-serif;
	font-weight: 700;
	font-size: 38px;
	line-height: 1;
	color: #fff;
	margin-top: 10px;
	cursor: pointer;
}

.logo__name--color {
	color: #c5a47e;
}

.logo__name-opacity {
	position: absolute;
	bottom: -12%;
	left: 10%;
	font-family: "montserrat", sans-serif;
	font-weight: 700;
	font-size: 140px;
	line-height: 1;
	opacity: 0.04;
	color: #fff;
	white-space: nowrap;
	z-index: 1;
}

.logo__side {
	height: 555px;
	background-color: #2b2b2b;
	position: absolute;
	width: 19.735vmin;
	left: 0;
	bottom: 0;
	text-align: center;
	transition: all 0.3s;
}

.logo__side-txt {
	font-family: "montserrat", sans-serif;
	font-size: 10px;
	font-weight: bold;
	white-space: nowrap;
	letter-spacing: 1em;
	color: #fff;
	position: relative;
	left: 1px;
	margin: 0 auto;
	width: 1px;
	transform: rotate(-90deg);
	margin-top: 100px;
	top: 15%;
}

.logo__side-bar {
	width: 1px;
	height: 50px;
	background-color: #646464;
	position: relative;
	left: 1px;
	top: 20%;
	margin: 0 auto;
}

.logo__sns-menu {
	margin-top: 140px;
}

.logo__sns-menu-list {
	margin-bottom: 34px;
}

.icon-sns {
	color: #606060;
	font-size: 32px;
	cursor: pointer;
	transition: all 0.3s linear;
}

.icon-sns:hover {
	color: #c5a47e;
}

.nav {
	padding-top: 60px;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 2;
}

.phone__number {
	font-family: "oswald", sans-serif;
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 0.2rem;
	color: #fff;
	position: absolute;
	left: 97px;
	float: left;
	text-shadow: 1px 1px 2px #2b2b2b;
}

.nav__menu {
	float: right;
	display: flex;
}

.nav__menu-item {
	text-shadow: 1px 1px 2px #2b2b2b;
	float: left;
	margin-left: 5.1em;
	font-family: "oswald", sans-serif;
	font-weight: 300;
	font-size: 0.81em;
	letter-spacing: 0.32em;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s linear;
}

.nav__menu-item--color {
	color: #c5a47e;
}

.nav__menu-item:hover {
	color: #c5a47e;
}

.nav__menu-button {
	font-size: 40px;
	color: #fff;
	position: absolute;
	top: -10px;
	right: 0;
	display: none;
}

.nav__fixed {
	width: 100%;
	height: 60px;
	position: fixed;
	z-index: 2;
	top: -10%;
	background-color: rgba(50, 50, 50, 0.95);
	padding: 17px 0 0;
	box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
	opacity: 0;
}

.on {
	transition: all 0.8s ease;
	top: 0;
	opacity: 1;
}

.logo__name-fixed {
	font-family: "montserrat", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1;
	color: #fff;
	margin-left: 20%;
	cursor: pointer;
	float: left;
}

.logo__name-fixed--color {
	color: #c5a47e;
}

.nav__menu-fixed {
	float: right;
	display: flex;
	margin-right: 20%;
	padding-top: 7px;
}

.nav__menu-fixed-icon {
	display: none;
	font-size: 36px;
	margin-right: 0%;
	position: relative;
	color: #c5a47e;
	cursor: pointer;
	text-shadow: 1px 1px 2px #2b2b2b;
	top: -6px;
	left: -10%;
	float: right;
}

.nav__menu-item-fixed {
	margin-left: 5.1em;
	font-family: "oswald", sans-serif;
	font-weight: 300;
	font-size: 0.81em;
	letter-spacing: 0.32em;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s linear;
}

.nav__menu-item-fixed--color {
	color: #c5a47e;
}

.nav__menu-item-fixed:hover {
	color: #c5a47e;
}

.about {
	padding-bottom: 10px;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.about__title {
	color: #fff;
	text-align: center;
	margin-left: 12px;
	font-family: "oswald", sans-serif;
	font-weight: 400;
	font-size: 35px;
	letter-spacing: 0.72rem;
	padding-top: 120px;
	margin-bottom: 100px;
}

.about__title--color {
	color: #c5a47e;
}

.about__name-opacity {
	font-size: 178px;
	font-family: "montserrat", sans-serif;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	position: absolute;
	left: -25.5%;
	top: 13%;
	opacity: 0.03;
}

.about__wrap {
	display: flex;
}

.about__wrap-box {
	width: 380px;
}

.about__wrap-introduction {
	text-align: center;
}

.about__wrap-introduction-title {
	font-family: "montserrat", sans-serif;
	font-size: 34px;
	line-height: 1.1;
	font-weight: bold;
	letter-spacing: 0.08rem;
	color: #fff;
	margin-bottom: 76px;
}

.about__wrap-introduction-title--color {
	color: #c5a47e;
}

.about__wrap-introduction-text {
	margin: 20px 0 35px 0;
	font-family: "NanumSquare", sans-serif;
	font-weight: bold;
	line-height: 1.5em;
	font-size: 18px;
	letter-spacing: -0.05rem;
	color: #fff;
}

.about__wrap-skill {
	padding: 0px 30px;
	text-align: center;
}

.about__wrap-skill-title {
	font-family: "montserrat", sans-serif;
	font-size: 30px;
	line-height: 1.1;
	font-weight: bold;
	letter-spacing: 0.08rem;
	color: #fff;
	margin-bottom: 45px;
}

.about__wrap-skill-title--color {
	color: #c5a47e;
}

.skill-icon {
	color: #9f8569;
	font-size: 50px;
}

.about__wrap-skill-list--top {
	margin-top: 102px;
}

.about__wrap-skill-list-text {
	margin: 20px 0 35px 0;
	font-family: "NanumSquare", sans-serif;
	font-weight: bold;
	line-height: 1.5em;
	font-size: 18px;
	color: #fff;
	letter-spacing: -0.02rem;
}

.projects {
	position: relative;
	z-index: 1;
}

.projects__title {
	color: #fff;
	text-align: center;
	margin-left: 12px;
	font-family: "oswald", sans-serif;
	font-weight: 400;
	font-size: 35px;
	letter-spacing: 0.72rem;
	padding-top: 160px;
	margin-bottom: 100px;
}

.projects__title--color {
	color: #c5a47e;
}

.projects__slider {
	z-index: 1;
	overflow: hidden;
}

.projects__slider-wrap {
	padding: 0;
	cursor: pointer;
	overflow: hidden;
	position: relative;
}

.projects__slider-wrap:hover .projects__slider-image {
	transition: all 8s linear;
}

.projects__slider-wrap:hover .projects__slider-shadow {
	opacity: 0;
}

.projects__slider-wrap:hover .projects__slider-textbox-title {
	transition: all 0.5s linear;
	opacity: 0;
	top: 30px;
}

.projects__slider-wrap:hover .projects__slider-textbox-kinds {
	opacity: 0;
	letter-spacing: 1.9rem;
	transform-origin: 0 0;
}

.projects__slider-wrap:hover .projects__slider_textbox-zoombox {
	opacity: 1;
	transform: scale(1);
}

.projects__slider-wrap:hover .projects__slider_textbox-zoom {
	opacity: 1;
	transform: scale(1);
}

.projects__slider-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.8;
	transition: all 0.3s linear;
	overflow: hidden;
}

.projects__slider-wrap:hover .projects__slider-image {
	transform: scale(1.2);
}

.projects__slider-image {
	overflow: hidden;
	width: 100%;
}

.projects__slider-textbox {
	position: absolute;
	top: 0;
	padding: 52px 58px;
	width: 100%;
	height: 100%;
}

.projects__slider-textbox-title {
	margin: 0;
	font-family: "oswald", sans-serif;
	font-weight: 400;
	font-size: 28px;
	line-height: 1.45;
	letter-spacing: 0.07em;
	color: #fff;
	transition: all 0.5s ease-out;
	position: relative;
	top: 0;
	opacity: 1;
}

.projects__slider-textbox-kinds {
	position: absolute;
	left: 40px;
	bottom: 30px;
	width: 350px;
	margin: 0 0 -8px;
	font-family: "oswald", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #fff;
	letter-spacing: 0.8rem;
	transform: rotate(-90deg);
	transition: all 0.5s;
	transform-origin: 0 0;
	opacity: 1;
}

.projects__slider_textbox-zoombox {
	text-align: center;
	line-height: 50%;
	margin: 0 auto;
	position: relative;
	top: 25%;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background-color: rgba(197, 164, 126, 0.84);
	overflow: hidden;
	transition: all 0.7s;
	opacity: 0;
	transform: scale(0);
}

.projects__slider_textbox-zoom {
	width: 40px;
	position: relative;
	top: 50px;
	left: 50px;
	opacity: 0;
	transform: scale(0);
}

.projects__button {
	position: relative;
	bottom: 450px;
}

.slick-arrow {
	width: 100px;
	height: 36px;
}

.slick-prev {
	left: 56px;
	top: 450px;
}

.slick-next {
	right: 55px;
	top: 448px;
}

.icon-button {
	cursor: pointer;
	bottom: 430px;
	font-family: "oswald", sans-serif;
	font-size: 16px;
	letter-spacing: 0.32em;
	color: #fff;
	transition: all 0.3s;
	z-index: 1;
	opacity: 0.7;
}

.icon-button--left {
	padding-left: 50px;
	padding-top: 2px;
	height: 30px;
	background: url(../assets/image/prev.png) left 50% no-repeat;
	background-size: 30px 20px;
	background-position: 10px 0px;
	position: absolute;
	top: 10px;
	left: 50px;
}

.on {
	opacity: 1;
	transition: all 0.5s linear;
}

.icon-button--right {
	padding-right: 126px;
	padding-top: 10px;
	height: 30px;
	width: 50px;
	background: url(../assets/image/next.png) right 50% no-repeat;
	background-size: 30px 20px;
	background-position: 54px 8px;
	position: absolute;
	top: 0;
	right: 20px;
}

.touch {
	padding-top: 40px;
	position: relative;
	padding-bottom: 46px;
	z-index: 1;
	overflow: hidden;
}

.touch__title {
	color: #fff;
	text-align: center;
	margin-left: 12px;
	font-family: "oswald", sans-serif;
	font-weight: 400;
	font-size: 35px;
	letter-spacing: 0.72rem;
	padding-top: 120px;
	margin-bottom: 100px;
}

.touch__title--color {
	color: #c5a47e;
}

.touch__name-opacity {
	font-size: 178px;
	font-family: "montserrat", sans-serif;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	position: absolute;
	left: 56%;
	top: 4%;
	opacity: 0.03;
	overflow: hidden;
}

.touch__wrap {
	display: flex;
}

.touch__wrap-box {
	width: 380px;
}

.touch__wrap-introduction-text {
	margin: 20px 0 35px 0;
	font-family: "montserrat", sans-serif;
	font-weight: 500;
	line-height: 1.5em;
	font-size: 18px;
	letter-spacing: -0.05rem;
	color: #939393;
}

.touch__name {
	margin-top: 280px;
	font-family: "montserrat", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1;
	color: #fff;
	cursor: pointer;
	float: left;
}

.touch__name--color {
	color: #c5a47e;
}

.touch__wrap-imgbox {
	padding: 0px 30px;
	text-align: center;
}

.touch__wrap-img {
	width: 80%;
	position: relative;
	bottom: 20px;
}

.touch__wrap-content {
	font-family: "montserrat", sans-serif;
	font-weight: 600;
	font-size: 12px;
	line-height: 1;
	color: #8d8d8d;
	margin-top: 124px;
}

.page__lines {
	position: absolute;
	background-color: #272727;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.item {
	padding: 0;
	float: left;
	width: 33.33333333%;
	height: 100%;
	position: relative;
}

.item__line {
	position: absolute;
	left: 0;
	width: 1px;
	height: 100%;
	background-color: #383838;
}

.item__line--right {
	left: auto;
	right: 0;
}

.slider-container {
	position: relative;
	height: 100%;
	user-select: none;
	z-index: 0;
}

.slider-control {
	z-index: 2;
	position: absolute;
	top: 0;
	width: 12%;
	height: 100%;
	transition: opacity 0.3s;
	will-change: opacity;
	opacity: 0;
}

.slider-control.inactive:hover {
	cursor: auto;
}

.slider-control:not(.inactive):hover {
	opacity: 1;
	cursor: pointer;
}

.slider-control.left {
	left: 9%;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.28) 0%, rgba(0, 0, 0, 0) 100%);
}

.slider-control.right {
	right: 0;
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.28) 100%);
}

.slider-pagi {
	position: absolute;
	z-index: 3;
	left: 50%;
	bottom: 2rem;
	transform: translateX(-50%);
	font-size: 0;
	list-style-type: none;
}

.slider-pagi__elem {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 1.5rem;
	height: 1.5rem;
	margin: 0 0.5rem;
	border-radius: 50%;
	opacity: 0.9;
	border: 2px solid #fff;
	cursor: pointer;
}

.slider-pagi__elem:before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	width: 0.7rem;
	height: 0.7rem;
	background: #fff;
	border-radius: 50%;
	transition: transform 0.3s;
	transform: translate(-50%, -50%) scale(0);
}

.slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
	transform: translate(-50%, -50%) scale(1);
}

.slider {
	z-index: 1;
	position: relative;
	height: 100%;
	filter: brightness(0.7);
}

.slider.animating {
	transition: transform 0.5s;
	will-change: transform;
}

.slider.animating .slide__bg {
	transition: transform 0.5s;
	will-change: transform;
}

.slide {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slide.active .slide__overlay,
.slide.active .slide__text {
	opacity: 1;
	transform: translateX(0);
}

.slide__bg {
	position: absolute;
	top: 0;
	left: -50%;
	width: 100%;
	height: 100%;
	background-size: cover;
	will-change: transform;
}

.slide:nth-child(1) {
	left: 0;
}

.slide:nth-child(1) .slide__bg {
	left: 0;
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-3.jpg");
	background-position: center;
}

.slide:nth-child(1) .slide__overlay-path {
	fill: #e99c7e;
}

@media (max-width: 991px) {
	.slide:nth-child(1) .slide__text {
		background-color: rgba(233, 156, 126, 0.8);
	}
}

.slide:nth-child(2) {
	left: 100%;
}

.slide:nth-child(2) .slide__bg {
	left: -50%;
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-2.jpg");
	background-position: center;
}

.slide:nth-child(2) .slide__overlay-path {
	fill: #e1ccae;
}

@media (max-width: 991px) {
	.slide:nth-child(2) .slide__text {
		background-color: rgba(225, 204, 174, 0.8);
	}
}

.slide:nth-child(3) {
	left: 200%;
}

.slide:nth-child(3) .slide__bg {
	left: -100%;
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-1.jpg");
	background-position: center;
}

.slide:nth-child(3) .slide__overlay-path {
	fill: #adc5cd;
}

@media (max-width: 991px) {
	.slide:nth-child(3) .slide__text {
		background-color: rgba(173, 197, 205, 0.8);
	}
}

.slide:nth-child(4) {
	left: 300%;
}

.slide:nth-child(4) .slide__bg {
	left: -150%;
	background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/3d-slider-4.jpg");
	background-position: center;
}

.slide:nth-child(4) .slide__overlay-path {
	fill: #cbc6c3;
}

@media (max-width: 991px) {
	.slide:nth-child(4) .slide__text {
		background-color: rgba(203, 198, 195, 0.8);
	}
}

.slide__content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*LOADING*/
.loading-container {
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 2;
	background: #272727;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
}

.loading-container.on {
	opacity: 0;
	z-index: 0;
	transition: all 0.5s linear;
}

.loding-animation-holder {
	width: 100px;
	height: 100px;
	transform: rotate(45deg);
	position: relative;
	z-index: 1;
}

.loading-animator {
	width: 50%;
	height: 50%;
	float: left;
	background: #9f8569;
	transform: rotate(0deg);
	position: relative;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	opacity: 1;
}

.loading-animator:nth-child(1) {
	transform-origin: bottom right;
	animation: loading 3s cubic-bezier(0.46, -0.1, 0.2, 1.5) infinite;
}

.loading-animator:nth-child(2) {
	transform-origin: bottom left;
	animation: loading 3s 0.3s cubic-bezier(0.46, -0.1, 0.2, 1.5) infinite;
}

.loading-animator:nth-child(4) {
	transform-origin: top left;
	animation: loading 3s 0.4s cubic-bezier(0.46, -0.1, 0.2, 1.5) infinite;
}

.loading-animator:nth-child(3) {
	transform-origin: top right;
	animation: loading 3s 0.5s cubic-bezier(0.46, -0.1, 0.2, 1.5) infinite;
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
		opacity: 1;
	}
	25% {
		transform: rotate(90deg);
		opacity: 0;
	}
	35% {
		transform: rotate(-90deg);
		opacity: 0;
	}
	65% {
		transform: rotate(0deg);
		opacity: 1;
	}
}

.middle-circle {
	width: 5px;
	height: 5px;
	position: absolute;
	top: 47.5px;
	left: 47.5px;
	border-radius: 100%;
	border: 1px solid #5bffde;
	background: #3c4a5c;
}

.button {
	position: fixed;
	top: -300px;
	left: 0px;
	z-index: 99;
	width: 100%;
	height: 261px;
	background-color: #2e3032;
	transition: all 0.5s ease;
	transition-delay: 0.2s;
	opacity: 0;
	display: none;
}

.button.on {
	position: fixed;
	top: 0px;
	opacity: 1;
}

.button__menu--title {
	padding: 12px 20px;
	height: 62px;
	border-bottom: 1px solid #444649;
	background-color: #36383b;
}

.button__name {
	font-family: "montserrat", sans-serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 1;
	color: #fff;
	margin-top: 10px;
	cursor: pointer;
	float: left;
}

.button__name--color {
	color: #c5a47e;
}

.button__menu-close {
	float: right;
	cursor: pointer;
	font-size: 36px;
	color: #fff;
	text-shadow: 1px 1px 2px #2b2b2b;
}

.button__menu-close.on {
	display: none;
}

.button__menu {
	font-family: "Oswald", sans-serif;
	padding-left: 20px;
	line-height: 50px;
	height: 50px;
	border-bottom: 1px solid #444649;
	color: #fff;
	font-weight: 400;
	letter-spacing: 0.18rem;
	font-size: 12px;
	cursor: pointer;
	transition: all 0.3s linear;
}

.button__menu--color:hover {
	color: #c5a47e;
}

.button__menu--back {
	background-color: #c5a47e;
}

.button__menu--title:after {
	display: block;
	content: " ";
	clear: both;
}

@media screen and (max-width: 1679px) {
	.phone__number {
		margin-left: 10%;
	}
	.icon-button {
		top: 120px;
	}
	.logo__name-fixed {
		margin-left: 16%;
	}
	.nav__menu-fixed {
		margin-right: 16%;
	}
}

@media screen and (max-width: 1476px) {
	.phone__number {
		display: none;
	}
}

@media screen and (max-width: 1257px) {
	.icon-button {
		top: 80px;
	}
}

@media screen and (max-width: 1199px) {
	.container {
		width: 80%;
	}
	.nav__menu {
		float: none;
		position: relative;
		left: 40%;
	}
	.logo__name-fixed {
		font-size: 22px;
		margin-left: 10%;
	}
	.nav__menu-fixed {
		font-size: 14px;
		margin-right: 10%;
	}
	.about__wrap-box {
		width: 34%;
	}
	.about__title {
		font-size: 32px;
	}
	.about__wrap-introduction-title {
		font-size: 27px;
	}
	.about__wrap-introduction-text {
		font-size: 16px;
	}
	.about__wrap-skill-title {
		font-size: 27px;
	}
	.about__wrap-skill-list-text {
		font-size: 16px;
	}
	.skill-icon {
		font-size: 45px;
	}
	.touch__title {
		font-size: 32px;
	}
	.touch__wrap-introduction-text {
		font-size: 16px;
	}
	.touch__wrap-box {
		width: 324px;
	}
	.touch__name {
		margin-top: 72%;
	}
	.projects__slider-wrap:hover .projects__slider_textbox-zoombox {
		opacity: 1;
		transform: scale(0.9);
	}
}

@media screen and (max-width: 1079px) {
	.icon-button {
		top: 140px;
	}
	.touch__wrap-box {
		width: 290px;
	}
	.touch__name {
		display: none;
	}
}

@media screen and (max-width: 990px) {
	.phone__number {
		display: block;
		margin-left: 32%;
	}
	.nav {
		padding-top: 6%;
		left: 0%;
	}
	.nav__menu {
		display: none;
	}
	.nav__menu-button {
		display: block;
		font-size: 36px;
		margin-right: -6%;
		color: #fff;
		padding: 0px 0px 10px 10px;
		cursor: pointer;
		text-shadow: 1px 1px 2px #2b2b2b;
	}
	.nav__menu-fixed {
		display: none;
	}
	.nav__menu-fixed-icon {
		display: block;
	}
	.logo__name {
		font-size: 4vmin;
	}
	.logo__name-opacity {
		font-size: 14vmin;
	}
	.logo__panel {
		width: 39.47vmin;
		height: 40.7vmin;
		z-index: 1;
	}
	.logo__side {
		height: 100%;
	}
	.logo__side-txt {
		top: 53%;
	}
	.logo__side-bar {
		top: 56%;
	}
	.logo__sns-menu {
		position: relative;
		top: 44%;
	}
	.icon-sns {
		font-size: 3.5vmin;
	}
	.slider-pagi {
		transform: none;
	}
	.button {
		display: block;
	}
	.about__wrap {
		display: block;
	}
	.about__wrap-skill {
		float: left;
	}
	.about__wrap-introduction {
		margin-bottom: 80px;
	}
	.projects__slider-textbox-title {
		font-size: 22px;
	}
	.icon-button {
		top: 0px;
	}
	.touch__title {
		font-size: 29px;
	}
	.touch__wrap-box {
		width: 274px;
	}
}

@media screen and (max-width: 769px) {
	.nav__fixed {
		height: 50px;
		padding: 16px 0;
	}
	.logo__name-fixed {
		font-size: 19px;
	}
	.nav__menu-fixed-icon {
		font-size: 32px;
	}
	.slider-pagi {
		display: none;
	}
	.phone__number {
		font-size: 10px;
	}
	.about__wrap-box {
		width: 100%;
	}
	.about__wrap {
		display: block;
	}
	.about__wrap-skill {
		float: none;
	}
	.about__wrap-introduction {
		margin-bottom: 80px;
	}
	.about__title {
		font-size: 26px;
	}
	.about__wrap-introduction-title {
		font-size: 22px;
	}
	.about__wrap-introduction-text {
		font-size: 14px;
	}
	.about__wrap-skill-title {
		font-size: 22px;
	}
	.about__wrap-skill-title--none {
		display: none;
	}
	.about__wrap-skill-list-text {
		font-size: 14px;
		line-height: 1.5em;
	}
	.skill-icon {
		font-size: 40px;
	}
	.about__wrap-skill-list--top {
		margin-top: 0px;
	}
	.projects__slider-textbox-title {
		font-size: 18px;
	}
	.icon-button {
		top: 80px;
	}
	.touch__title {
		font-size: 26px;
	}
	.touch__wrap-introduction-text {
		font-size: 14px;
	}
	.touch__wrap {
		display: block;
		text-align: center;
		width: 100%;
	}
	.touch__wrap-box {
		width: 100%;
	}
	.touch__name {
		display: none;
	}
	.touch__wrap-img {
		width: 30%;
		bottom: 0px;
	}
	.touch__wrap-content {
		margin-top: 20px;
	}
}

@media screen and (max-width: 690px) {
	.phone__number {
		margin-left: 26%;
	}
	.icon-button {
		top: 140px;
	}
	.icon-button--right {
		top: 132px;
	}
	.icon-button--left {
		left: 8px;
	}
	.icon-button--right {
		padding-right: 84px;
	}
	.projects__slider-wrap:hover .projects__slider_textbox-zoombox {
		opacity: 1;
		transform: scale(0.8);
	}
}

@media screen and (max-width: 570px) {
	.icon-button {
		top: 180px;
	}
	.icon-button--right {
		top: 172px;
	}
	.phone__number {
		margin-left: 24%;
	}
}

@media screen and (max-width: 478px) {
	.phone__number {
		display: none;
	}
	.icon-button {
		top: 10px;
	}
	.icon-button--right {
		top: 2px;
	}
	.projects__slider-wrap:hover .projects__slider_textbox-zoombox {
		opacity: 1;
		transform: scale(1);
	}
	.projects__slider_textbox-zoombox {
		top: 33%;
	}
}

@media screen and (max-width: 430px) {
	.icon-button {
		top: 50px;
	}
	.icon-button--right {
		top: 42px;
	}
}

@media screen and (max-width: 380px) {
	.icon-button {
		top: 110px;
	}
	.icon-button--right {
		top: 102px;
	}
}

@media screen and (max-width: 330px) {
	.icon-button {
		top: 140px;
	}
	.icon-button--right {
		top: 132px;
	}
}
